[Desktop Entry]
Encoding=UTF-8
Name=KPhotoBook
Name[xx]=xxKPhotoBookxx
Exec=kphotobook %i %m -caption "%c"
Icon=kphotobook
Type=Application
DocPath=kphotobook/kphotobook.html
Comment=A KDE KPart Application
Comment[ca]=Una aplicació KPart per a KDE
Comment[da]=Et KDE KPart program
Comment[de]=Eine KDE-Komponenten-Anwendung
Comment[el]=Μια εφαρμογή KPart του KDE
Comment[es]=Una aplicación KPart de KDE
Comment[et]=KDE KPart rakendus
Comment[fr]=Une application KPart pour KDE.
Comment[hu]=KPart-alapú KDE-alkalmazás
Comment[it]=Applicazione KPart di KDE
Comment[pt]=Uma aplicação KPart do KDE
Comment[pt_BR]=Um Aplicativo KPart do KDE
Comment[ru]=Приложение KPart для KDE
Comment[sr]=KDE KPart апликација
Comment[sv]=Ett KDE Kpart-program
Comment[xx]=xxA KDE KPart Applicationxx
Terminal=0
