body {   
color:            #000000;
background-color: #dedede;
font-size:        10pt;
margin-top:       2;
margin-bottom:    2;
margin-left:      2;
margin-right:     2;
font-family:      Verdana,Arial;

scrollbar-arrow-color:      #dddddd; /* Farbe für Verschiebepfeile */
scrollbar-3dlight-color:    #000000; /* Farbe für 3D-Effekte */
scrollbar-track-color:      #7381D5; /* Farbe für freibleibenden Verschiebeweg */
scrollbar-face-color:       #bdceff; /* Farbe für Oberfläche */
scrollbar-highlight-color:  #dddddd; /* Farbe für oberen und linken Rand */
scrollbar-shadow-color:     #aaaaaa; /* Farbe für unteren und rechten Rand */
scrollbar-darkshadow-color: #000000; /* Farbe für Schatten */
}

a 		{ font-size: 10pt; text-decoration: none;}
a:link		{ font-size: 10pt;color: white; font-weight: bold;}
a:visited	{ font-size: 10pt;color: white; font-weight: bold;}
a:active	{ font-size: 10pt;color: white; font-weight: bold;}
a:hover		{ font-size: 10pt;color: black; font-weight: bold;}

table {background-color:#bdceff;}

img {border: 0px}

/*page header#####################################################*/

table.header {                    /* Titelleiste */
margin-top:    0px;               /* Aussenabstand oben */
margin-bottom: 5px;               /* Aussenabstand unten */
margin-left:   0px;               /* Aussenabstand rechts */
margin-right:  0px;               /* Aussenabstand links */
border-top:    3px solid white;   /* nur oben */
border-bottom: 0px solid white;   /* nur unten */
border-left:   0px solid white;   /* nur links */
border-right:  3px solid white;   /* nur rechts */ 
width:         100%;              /* Tabellenbreite */
}

td.header_l {                     /* Titelleiste linke Zelle */
vertical-align: middle;           /* vertikale Ausrichtung */
text-align:     left;             /* Text Ausrichtung horizontal */
width:          65px;             /* Breite der Zelle */
font-size:      18pt;             /* Schriftgrösse*/
font-weight:    bold;             /* Schriftgewicht */
font-style:     oblique;          /* Schriftstil */
color:          #ffffff;          /* Schriftfarbe */
}

td.header_m {                     /* Titelleiste mittlere Zelle */
vertical-align: middle;           /* vertikale Ausrichtung */
text-align:     left;             /* Text Ausrichtung horizontal */
font-size:      18pt;             /* Schriftgrösse*/
font-weight:    bold;             /* Schriftgewicht */
font-style:     italic;           /* Schriftstil */
color:          #ffffff;          /* Schriftfarbe */
}

td.header_r {                     /* Titelleiste rechte Zelle */
vertical-align: middle;           /* vertikale Ausrichtung */
text-align:     right;            /* Text Ausrichtung horizontal */
width:          50px;             /* Breite der Zelle */
font-size:      14pt;             /* Schriftgrösse*/
font-weight:    bold;             /* Schriftgewicht */
font-style:     italic;           /* Schriftstil */
color:          #ffffff;          /* Schriftfarbe */
}

img.header {                      /* Icon in Titelleiste */
vertical-align: middle;           /* vertikale Ausrichtung des Bildes in der Zelle*/
width:         60px;              /* Breite des Bildes */
height:        45px;              /* Höhe des Bildes */
}


/*page background#####################################################*/

table.document {                  /* Hintergrund der einzelnen Dokumente */
margin:        0px;               /* Aussenabstand */
border-top:    0px solid white;   /* nur oben */
border-bottom: 3px solid white;   /* nur unten */
border-left:   0px solid white;   /* nur links */
border-right:  3px solid white;   /* nur rechts */ 
width:         100%;
}



/*FAQ#####################################################*/
dt {                    /* FAQ Fragen */
font-weight:   bold;    /* Schriftgewicht */
font-style:    italic;  /* Schriftstil */
margin-bottom: 5px;     /* Aussenabstand unten*/
}

dd {                    /* FAQ Antworten */
margin-bottom: 20px;    /* Aussenabstand unten*/
}

/*Logo#####################################################*/

table.logo {                     /* KPhotoBook Logo Tabelle */
margin:        0px;
border-top:    3px solid white;  /* nur oben */
border-bottom: 3px solid white;  /* nur unten */
border-left:   3px solid white;  /* nur links */
border-right:  3px solid white;  /* nur rechts */ 
padding:       0px;
width:         100%;
}

a.logolink 		{ font-size: 9pt; text-decoration: none;}
a.logolink:link		{ font-size: 9pt;color: white; font-weight: none;}
a.logolink:visited	{ font-size: 9pt;color: white; font-weight: none;}
a.logolink:active	{ font-size: 9pt;color: white; font-weight: none;}
a.logolink:hover	{ font-size: 9pt;color: black; font-weight: none;}


/*Menu#####################################################*/

table.menu {
margin:        0px;
border-top:    3px solid white;   /* nur oben */
border-bottom: 3px solid white;   /* nur unten */
border-left:   3px solid white;   /* nur links */
border-right:  0px solid white;   /* nur rechts */ 
width:         100%;
height:        99%;
}

td.menuentry {
background-color:#7381D5;
font-size: 13pt;
font-weight: bold;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
}

/*Roadmap#####################################################*/

table.roadmap {
border-spacing:1px;
background-color:#7381D5;
}



tr.done_header {
color:#000000;
background-color:#7ecd72;
/* background-color:green; */
font-size: 10pt;
font-weight: bold;
}

tr.done {
color:#000000;
background-color:#eeffee;
font-size: 10pt;
font-weight: normal;
}



tr.progress_header {
color:#000000;
background-color: #f7ff57;
/* background-color: yellow; */
font-size: 10pt;
font-weight: bold;
}

tr.progress {
color:#000000;
background-color: #ffffee;
font-size: 10pt;
font-weight: normal;}



tr.todo_header {
color:#000000;
background-color: #ff5728;
/* background-color: red; */
font-size: 10pt;
font-weight: bold;
}

tr.todo {
color:#000000;
background-color: #ffeeee;
font-size: 10pt;
font-weight: normal;
}



tr.nyd_header {
color:#000000;
background-color: #000000;
/* background-color:gray; */
font-size: 10pt;
font-weight: bold;
color: #ffffff;
}

tr.nyd {
color:#000000;
background-color: #aaaaaa;
font-size: 10pt;
font-weight: normal;
color: #ffffff;
}



tr.roadmap {
color:#000000;
background-color:#bdceff;
font-size: 10pt;
font-weight: normal;
vertical-align: top;
text-align: left;
}

td.done {
color:#ffffff;
background-color:green;
font-weight: bold;
}

td.progress {
background-color:yellow;
font-weight: bold;
}

td.todo {
background-color:red;
font-weight: bold;
}

td.nyd {
color:#ffffff;
background-color:gray;
font-weight: bold;
}

td.roadmap_responsible {
vertical-align: top;
text-align: center;
}

td.roadmap_date {
vertical-align: top;
text-align: center;
}

td.roadmap_version {
vertical-align: top;
text-align: center;
}

td.roadmap_title {
vertical-align: top;
text-align: left;
white-space: nowrap;
font-weight: bold;
}

td.roadmap_desc {
vertical-align: top;
text-align: left;
}
/*News#####################################################*/

table.news {
border-spacing:1px;
width:100%;
}

td.newsheader {
color:#dddddd;
background-color:#7381D5;
font-size: 11pt;
font-weight: bold;
}

td.newstext {
color:#dddddd;
background-color:#7381D5;
font-size: 10pt;
vertical-align: top;
}

td.newspic {
color:#dddddd;
background-color:#7381D5;
font-size: 10pt;
font-weight: bold;
text-align:center; 
vertical-align:middle;
}

/*Download#####################################################*/

pre {
margin: 0pt;
}