[Desktop Entry]
Encoding=UTF-8
Name=KPhotoBook
Name[xx]=xxKPhotoBookxx
Exec=kphotobook %i %m -caption "%c"
Icon=kphotobook
Type=Application
MimeType=application/x-kphotobook
DocPath=kphotobook/kphotobook.html
Comment=An imaging managing application
Comment[de]=Eine Bilderverwaltungs-Anwendung
Terminal=0
