<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kphotobook" version="17">

<MenuBar>
    <Menu name="file">
        <Menu name="export">
            <text>&amp;Export</text>
            <Action name="exportMatchingFiles" />
            <Action name="exportSelectedFiles" />
        </Menu>
        <Menu name="import">
            <text>&amp;Import</text>
            <Action name="importImages" />
        </Menu>
        <Separator/>
        <Action name="rescanFilesystem" />
    </Menu>
    <Menu name="manage">
        <text>&amp;Manage</text>
        <Action name="addFolder" />
        <Separator/>
        <Action name="addMaintag" />
        <Separator/>
        <Action name="andifyTags" />
        <Action name="orifyTags" />
    </Menu>
    <Menu name="view">
        <text>&amp;View</text>
        <Action name="refreshView" />
        <Separator/>
        <Action name="increasePreviewSize" />
        <Action name="decreasePreviewSize" />
        <Separator/>
        <Action name="expandAllTags" />
        <Action name="collapseAllTags" />
        <Separator/>
        <Action name="expandAllFolders" />
        <Action name="collapseAllFolders" />
        <Separator/>
        <Action name="restoreToolViews" />
    </Menu>
    <Menu name="settings">
        <Menu name="toolviews">
            <text>&amp;Tool Views</text>
            <Action name="showToolViewTagTree" />
            <Action name="showToolViewFolderTree" />
        </Menu>
        <Separator/>
        <Action name="autoRefreshView" />
    </Menu>
</MenuBar>

<ToolBar name="mainToolBar" fullWidth="false" newline="false" >
  <text>file</text>
  <Action name="rescanFilesystem" />
  <Action name="toggleLockUnlockTagging" />
</ToolBar>

<ToolBar name="manageToolBar" fullWidth="false" newline="false" >
  <text>Manage</text>
  <Action name="addFolder" />
  <Action name="addMaintag" />
  <Separator/>
  <Action name="andifyTags" />
  <Action name="orifyTags" />
</ToolBar>

<ToolBar name="previewToolBar" fullWidth="false" newline="false" >
  <text>Preview</text>
  <Action name="autoRefreshView" />
  <Action name="refreshView" />
  <Separator/>
  <Action name="increasePreviewSize" />
  <Action name="decreasePreviewSize" />
</ToolBar>

<ToolBar name="helpToolBar" fullWidth="false" newline="false" >
  <text>Help</text>
  <Action name="help_contents" />
  <Action name="help_whats_this" />
  <Action name="help_tipofday" />
  <Action name="help_about_app" />
</ToolBar>

<Menu name="contextMenu_tagTree">
    <Action name="addMaintag" />
    <Separator/>
    <Action name="expandAllTags" />
    <Action name="collapseAllTags" />
</Menu>

<Menu name="contextMenu_tagTreeItem">
    <Action name="createSubtag" />
    <Action name="editTag" />
    <Action name="deleteTag" />
    <Separator/>
    <Action name="expandTag" />
    <Action name="collapseTag" />
</Menu>

<Menu name="contextMenu_tagTreeItemLeaf">
    <Action name="editTag" />
    <Action name="deleteTag" />
</Menu>

<Menu name="contextMenu_folderTree">
    <Action name="includeAllFolders" />
    <Action name="excludeAllFolders" />
    <Action name="invertAllFolderSelection" />
    <Separator/>
    <Action name="expandAllFolders" />
    <Action name="collapseAllFolders" />
    <Separator/>
    <Action name="addFolder" />
</Menu>

<Menu name="contextMenu_folder">
    <Action name="includeWholeFolder" />
    <Action name="excludeWholeFolder" />
    <Action name="invertFolderSelection" />
    <Separator/>
    <Action name="expandFolder" />
    <Action name="collapseFolder" />
    <Separator/>
    <Action name="editFolder" />
    <Action name="removeFolder" />
</Menu>

<Menu name="contextMenu_subFolder">
    <Action name="includeWholeFolder" />
    <Action name="excludeWholeFolder" />
    <Action name="invertFolderSelection" />
    <Separator/>
    <Action name="expandFolder" />
    <Action name="collapseFolder" />
</Menu>

</gui>
